swiper-container {
    width: 100%;
    max-width: 100vw;
    height: 45vw;
    margin: 0 auto;
    z-index: -1;
  }
  
swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #0b1528;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
  }
  
swiper-slide img {
    display: block;
    object-fit: cover;
  }